@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    padding: 5px;
    width: 100%;
    background: transparent;
    transition: width 0.3s ease, background 0.3s ease, border 0.3s ease, top 0.3s ease;
}

    .header.scrolled {
        width: 80%;
        top: 15px;
        background: rgba(255, 255, 255, 0.95);
        border: 1px solid #E5BA41;
        border-radius: 12px;
    }

.logo {
    text-decoration: none;
    margin-left: 30px;
}

.navigation {
    display: flex;
    flex-direction: row;
}

    .navigation a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1.1em;
        margin-left: 30px;
    }

a:hover {
    color: black;
}

section {
    height: 740px;
    border: 2px solid #E5BA41;
    display: flex;
    flex-direction: row;
}

.intro {
    padding: 80px 10px 10px;
    justify-content: start;
    align-items: start;
}

.intro-photos {
    height: 600px;
    width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bg-line-vertical1 {
    position: absolute;
    top: 0;
    right: 262px;
    height: 720px;
    width: 100px;
    background-color: #E5BA41;
    border-radius: 0 0 10px 10px;
}

.bg-line-vertical2 {
    position: absolute;
    top: 0;
    right: 372px;
    height: 720px;
    width: 100px;
    background-color: #E5BA41;
    border-radius: 0 0 10px 10px;
}

.bg-line-vertical3 {
    position: absolute;
    top: 0;
    right: 482px;
    height: 720px;
    width: 100px;
    background-color: #E5BA41;
    border-radius: 0 0 10px 10px;
}

.bg-line-horizontal1 {
    position: absolute;
    top: 300px;
    right: 0;
    height: 100px;
    width: 1500px;
    background-color: #E5BA41;
    border-radius: 10px 0 0 10px;
}

.image-frame1 {
    position: relative;
    height: 300px;
    width: 270px;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2.5px;
    border-right: 2.5px;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #E5BA41;
    border-radius: 10px;
}

.image-frame2 {
    position: relative;
    height: 300px;
    width: 270px;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2.5px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #E5BA41;
    border-radius: 10px;
}

.image-frame3 {
    position: relative;
    height: 300px;
    width: 270px;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2.5px;
    border-right: 0;
    border-left: 2.5px;
    border-bottom: 0;
    border-style: solid;
    border-color: #E5BA41;
    border-radius: 10px;
}

.image-frame4 {
    position: relative;
    height: 300px;
    width: 270px;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0;
    border-right: 2.5px;
    border-left: 0;
    border-bottom: 2.5px;
    border-style: solid;
    border-color: #E5BA41;
    border-radius: 10px;
}

.image-frame5 {
    position: relative;
    height: 300px;
    width: 270px;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2.5px;
    border-style: solid;
    border-color: #E5BA41;
    border-radius: 10px;
}

.image-frame6 {
    position: relative;
    height: 300px;
    width: 270px;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0;
    border-right: 0;
    border-left: 2.5px;
    border-bottom: 2.5px;
    border-style: solid;
    border-color: #E5BA41;
    border-radius: 10px;
}

.intro-image {
    height: 290px;
    width: 260px;
    border-radius: 5px
}

.brand-taglines {
    position: relative;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 140px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #E5BA41;
    border-radius: 5px;
    padding: 5px;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    padding: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px;
    border-style: solid;
    border-radius: 0 0 5px 5px;
    background-color: #E5BA41;
}

.intro-logo {
    height: 200px;
    width: 500px;
    border-radius: 5px;
    margin-top: 100px;
    padding: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2.5px;
    border-style: solid;
    border-color: #E5BA41;
}

.the-story-section {
    padding: 60px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.bg-line-horizontal2 {
    position: absolute;
    top: 990px;
    right: 0;
    height: 300px;
    width: 1500px;
    background-color: #E5BA41;
    border-radius: 10px 0 0 10px;
}

.the-story-image-frame {
    position: relative;
    height: 640px;
    width: 600px;
    margin: 20px 0 10px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0;
    border-right: 2.5px;
    border-left: 2.5px;
    border-bottom: 0;
    border-style: solid;
    border-color: #E5BA41;
    border-radius: 10px;
}

.the-story-image {
    height: 630px;
    width: 590px;
    border-radius: 5px
}

.the-story-container {
    position: relative;
    height: 640px;
    width: 870px;
    margin: 20px 15px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-top: 0;
    border-right: 2.5px;
    border-left: 2.5px;
    border-bottom: 0;
    border-style: solid;
    border-color: #E5BA41;
}

.the-story-heading {
    font-size: 50px;
    font-weight: 700;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #E5BA41;
}

.the-story-artical {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}

.who-we-are {
    padding: 60px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.bg-line-horizontal3 {
    position: absolute;
    top: 1630px;
    right: 0;
    height: 500px;
    width: 1500px;
    background-color: #E5BA41;
    border-radius: 10px 0 0 10px;
}

.who-we-are-photos {
    position: relative;
    height: 660px;
    width: 310px;
    margin: 10px 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.who-we-are-image-frame1,
.who-we-are-image-frame2,
.who-we-are-image-frame3 {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 2px 0;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0;
    border-right: 2.5px;
    border-left: 2.5px;
    border-bottom: 0;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.who-we-are-image {
    height: 190px;
    width: 190px;
    border-radius: 5px
}

.who-we-are-container {
    position: relative;
    height: 640px;
    width: 1000px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: white;
    border-radius: 10px;
    border-top: 0;
    border-right: 2.5px;
    border-left: 2.5px;
    border-bottom: 0;
    border-style: solid;
    border-color: #E5BA41;
}

.who-we-are-heading {
    font-size: 50px;
    font-weight: 700;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #E5BA41;
}

.who-we-are-artical {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom: 5px;
}


.sections-container {
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.secctions-adress {
    height: 50px;
    width: 400px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top: 2.5px;
    border-right: 2.5px;
    border-left: 2.5px;
    border-bottom: 0.5px;
    border-style: solid;
    border-color: #E5BA41;
}

.why-us,
.vision-goal,
.services,
.target-groups,
.where-we-are,
.partners-success,
.our-numbers {
    height: 400px;
    width: 400px;
    margin: 0 5px 5px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    border-right: 2.5px;
    border-left: 2.5px;
    border-bottom: 2.5px;
    border-style: solid;
    border-color: #E5BA41;
}

.section-background {
    position: absolute;
    height: 398px;
    width: 394px;
    margin: 0 0 2px;
    border-radius: 0 0 2px 2px;
}

p {
    position: relative;
}

